@model IEnumerable<WebApplicationPrueba.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagos</h1>

<p>
    <a asp-action="Create">Crear Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Inmueble)
            </th>
            <th>
               Dueño Inmueble
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @(item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.Id)
            </td>
            <td>
                @(item.Contrato.Inquilino.Nombre + " " + item.Contrato.Inquilino.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.Inmueble.Direccion)
            </td>
            <td>
                @(item.Contrato.Inmueble.Duenio.Nombre + " " + item.Contrato.Inmueble.Duenio.Apellido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
