@model IEnumerable<WebApplicationPrueba.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create">Crear Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNombre)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @(item.Duenio.Nombre + " "+ item.Duenio.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNombre)
            </td>
            <td>
                
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-warning fa fa-pencil" })
            </td>
            <td>
                @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-primary fa  fa-info" })
            </td>
            <td>
                
                @Html.ActionLink("", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash" })
            </td>
        </tr>
        }
    </tbody>
</table>
