@model IEnumerable<WebApplicationPrueba.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}


<div class="row">
    <div class="col-1">

    </div>
    <div class="col-4 mt-2 pt-2">
        <h1>Inmuebles</h1>
        <div class="row-4">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input id="check-box-div" type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <span>Disponibles</span>
            </div>
        </div>

        <div class="row-4">
            <p>
                <a class="btn btn-outline-success" asp-action="Create">Crear Inmueble</a>
            </p>
        </div>


    </div>
    <div class="col-1">

    </div>
    <div class="col-4 mt-2 pt-2">
        <div class="row-4">

        </div>
        <div class="row-4">
            <form id="form-buscarr">
                <div class="form-group">

                    <label for="desde" class="control-label"></label>
                    <input type="date" name="desde" class="form-control" placeholder="Buscar Desde" id="desdee" />
                    <span>
                        <label for="hasta" class="control-label"></label>
                        <input type="date" name="hasta" class="form-control" placeholder="Buscar Hasta" id="hastaa" />
                    </span>
                    <div class="form-group mt-2 justify-content-xl-center">
                        <input type="submit" value="Buscar" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNombre)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="resultado">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Superficie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>

                <td>
                    @(item.Duenio.Nombre + " "+ item.Duenio.Apellido)
                </td>

                <td style="background-color:@( item.Estado==1 ? "#A4F762" : "#E15F43" )">
                    @Html.DisplayFor(modelItem => item.EstadoNombre)
                </td>
                <td>
                    <span>@Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning fa fa-pencil" })</span>
                </td>
                <td>
                    <span>@Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary fa  fa-info" })</span>
                </td>
                <td>
                    <span>@Html.ActionLink("", "Eliminar", new { id = item.Id }, new { @class = "btn btn-outline-danger fa fa-trash" })</span>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="Contrato" asp-action="IndexPorInmueble" asp-route-id="@item.Id" title="Contratos del Inmueble"><i class="fa fa-gavel"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Scripts-->
<script id="t_tabla" type="x-tmpl-mustache">
    {{#datos}}
    <tr>
        <td>
            {{direccion}}
        </td>
        <td>
            {{ambientes}}
        </td>
        <td>
            {{tipo}}
        </td>
        <td>
            {{uso}}
        </td>
        <td>
            {{superficie}}
        </td>
        <td>
            {{latitud}}
        </td>
        <td>
            {{longitud}}
        </td>
        <td>
            {{precio}}
        </td>
        <td>
            {{duenio.nombre}} {{duenio.apellido}}
        </td>
        <td >
            {{estadoNombre}}
        </td>
        <td>
            <a href="Inmueble/Edit/{{id}}" class="btn btn-outline-warning fa fa-pencil"></a>
        </td>
        <td>
            <a href="Inmueble/Details/{{id}}" class="btn btn-outline-primary fa  fa-info"></a>
        </td>
        <td>
            <a href="Inmueble/Eliminar/{{id}}" class="btn btn-outline-danger fa fa-trash"></a>
        </td>
        <td>
            <a href="Contrato/IndexPorInmueble/{{id}}" class="btn btn-outline-secondary fa fa-gavel"></a>
        </td>
    </tr>

    {{/datos}}
</script>




@section Scripts{
    <script>
        document.querySelector("#check-box-div").addEventListener("change", (e) => {

            e.preventDefault();

            if ($("#check-box-div").is(':checked')) {
                var estado = true;
            } else {
                var estado = false;
            }
               $.get(`@Url.Action("BuscarDisponibles", "Inmueble")/${estado}`).done((res) => {
                console.log(res);
                var template = document.getElementById('t_tabla').innerHTML;
                var rendered = Mustache.render(template, res);
                document.getElementById('resultado').innerHTML = rendered;
            });
            return false;
        });


         document.querySelector("#form-buscarr").addEventListener("submit", (e) => {

            e.preventDefault();
            var desde = $('#desdee').val();
            var hasta = $('#hastaa').val();
            $.get(`@Url.Action("BuscarInmueblePorFecha", "Inmueble")/${desde}/${hasta}`).done((res) => {
                console.log(res);
                var template = document.getElementById('t_tabla').innerHTML;
                var rendered = Mustache.render(template, res);
                document.getElementById('resultado').innerHTML = rendered;
            });
            return false;
        });

    </script>
}




